<ng-container *ngIf="formState$ | async as formState">
    <mat-card>
        <mat-card-content>
            <form novalidate [ngrxFormState]="formState">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>SoftDev Source Project / Packet</mat-label>
                                <input type="text"
                            matInput
                            [ngrxFormControlState]="$any(formState).controls.sourceSoftDevProject"
                            [matAutocomplete]="autoSoftDevProject">
                                <mat-autocomplete #autoSoftDevProject="matAutocomplete">
                                    <mat-option *ngFor="let project of (softDevProjectsFiltered$ | async)"
                                        [value]="project.PROJECT_NAME">
                                        {{project.PROJECT_NAME}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-error
                                [style.visibility]="(formState.isTouched && (formState.errors._sourceSoftDevProject?.$validateSDSourceSoftDevProjectError || formState.errors._sourceSoftDevProject?.required))?'visible':'hidden'">
                                SoftDev Project is required
                            </mat-error>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>Redmine Target Project</mat-label>
                                <input type="text"
                            matInput
                            [ngrxFormControlState]="$any(formState).controls.targetRedmineProject"
                            [matAutocomplete]="autoRedmineProject">
                                <mat-autocomplete #autoRedmineProject="matAutocomplete">
                                    <mat-option *ngFor="let project of (redmineProjectsFiltered$ | async)"
                                        [value]="project.name">
                                        {{project.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-error
                            [style.visibility]="(formState.isTouched && (formState.errors._targetRedmineProject?.$validateSDTargetRedmineProjectError || formState.errors._targetRedmineProject?.required))?'visible':'hidden'">
                                Redmine Project is required
                            </mat-error>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>Item Level</mat-label>
                                <mat-select [ngrxFormControlState]="$any(formState).controls.itemLevel">

                                    <mat-option value="issue">Issue</mat-option>
                                    <mat-option value="cr">CR</mat-option>
                                    <mat-option value="possible_cr">Possible CR</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error
                                *ngIf="formState.errors._itemLevel?.required">
                                Item level is required
                            </mat-error>
                        </div>
                        <div class="col-3">
                            <mat-checkbox color="primary" [ngrxFormControlState]="$any(formState).controls.showCreated">Show
                                Created</mat-checkbox>
                            <button
                                mat-fab
                                extended
                                color="primary"
                                class="ms-3 my-2"
                                [disabled]="!(getBatchItemCreationSDCriteriaCanActivateFind$ | async)"
                                (click)="search()"
                            >Find</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <div class="col-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Version</mat-label>
                                    <mat-select [ngrxFormControlState]="$any(formState).controls.version">
                                        <mat-option *ngFor="let version of versions$ | async" [value]="version.name">
                                            {{version.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
    <div *ngIf="!(isGridFilled$ | async)">
        <br><br><br><br><br><br><br><br>
    </div>
</ng-container>