<ng-container *ngIf="formState$ | async as formState">
    <mat-card>
        <mat-card-content>
            <form novalidate [ngrxFormState]="formState">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>SoftDev Source Project / Packet</mat-label>
                                <input type="text"
                            matInput
                            [ngrxFormControlState]="$any(formState).controls.sourceSoftDevProject"
                            [matAutocomplete]="autoSoftDevProject">
                                <mat-autocomplete #autoSoftDevProject="matAutocomplete">
                                    <mat-option *ngFor="let project of (softDevProjectsFiltered$ | async)"
                                        [value]="project.PROJECT_NAME">
                                        {{project.PROJECT_NAME}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-error
                                *ngIf="formState.isTouched && (formState.errors._targetRedmineProject?.$validateProjectError || formState.errors._targetRedmineProject?.required)">
                                Project is required
                            </mat-error>
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>Redmine Target Project</mat-label>
                                <input type="text"
                            matInput
                            [ngrxFormControlState]="$any(formState).controls.targetRedmineProject"
                            [matAutocomplete]="autoRedmineProject">
                                <mat-autocomplete #autoRedmineProject="matAutocomplete">
                                    <mat-option *ngFor="let project of (redmineProjectsFiltered$ | async)"
                                        [value]="project.name">
                                        {{project.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>Item Level</mat-label>
                                <mat-select [ngrxFormControlState]="$any(formState).controls.itemLevel">

                                    <mat-option value="issue">Issue</mat-option>
                                    <mat-option value="cr">CR</mat-option>
                                    <mat-option value="possible_cr">Possible CR</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-checkbox [ngrxFormControlState]="$any(formState).controls.showCreated">Show
                                Created</mat-checkbox>
                            <button 
                                mat-fab 
                                extended 
                                color="primary" 
                                class="ms-3 my-2"
                                (click)="search()"
                            >Find</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
</ng-container>