<ng-container *ngIf="formState$ | async as formState">
    <form novalidate [ngrxFormState]="formState">
        <div class="d-flex flex-md-row justify-content-md-between flex-column my-4 jkWidthMarg">
            <mat-card-title>Cache Refreshing</mat-card-title>
        </div>
        <mat-card class="mt-1">
            <mat-card-content>
                <div class="d-flex flex-column">
                    <button
                        mat-fab
                        extended
                        [disabled]="isCacheRefreshingInProgress$ | async"
                        color="primary"
                        class="me-3 my-2"
                        (click)="refreshCache()"
                    >Refresh Cache</button>
                    <app-small-spinner class="float-start" [style.width.%]=100
                        [style.visibility]="(isCacheRefreshingInProgress$ | async)?'visible':'hidden'"></app-small-spinner>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</ng-container>