.mat-primary {
    background-color: #282828;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}

li {
    display: inline;
    margin-left: 10px;
}

div {
    margin-left: auto;
}

.menu-item-icon {
    vertical-align: middle;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
    font: 400 16px/24px Roboto, sans-serif;
    letter-spacing: .03125em;
    vertical-align: sub;
}

.login {
    vertical-align: super;
}

li {
    font-size: 16px;
}