<mat-card>
    <form>
        <mat-card-header>
            <mat-card-title>Item Creation</mat-card-title>
            <mat-card-subtitle><button mat-button>Fill From Id</button></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-listbox>
                <mat-chip-option *ngFor="let tracker of (trackers$ | async)">{{ tracker.name }}</mat-chip-option>
            </mat-chip-listbox>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
            <button mat-raised-button color="accent">Create and Open</button>
            <button mat-raised-button color="primary">Create</button>
        </mat-card-actions>
    </form>
</mat-card>