<ng-container *ngIf="formState$ | async as formState">
    <form novalidate [ngrxFormState]="formState">
        <div class="d-flex flex-md-row justify-content-md-between flex-column my-4 jkWidthMarg">
            <mat-card-title>Item Creation</mat-card-title>
            <mat-card-subtitle><button mat-raised-button (click)="openFromIdDialog()">Fill From Id</button></mat-card-subtitle>
        </div>
        <mat-card class="mt-1">
            <mat-card-content>
                <mat-error *ngIf="formState.isTouched && formState.errors._project?.$validateProjectError">
                    Project is required
                </mat-error>
                <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                    <mat-label>Redmine Project</mat-label>
                    <input type="text" [ngrxFormControlState]="$any(formState).controls.project"
                        matInput
                        [matAutocomplete]="autoProject">
                    <mat-autocomplete #autoProject="matAutocomplete">
                        <mat-option *ngFor="let project of (projectsFiltered$ | async)" [value]="project.name">
                            {{project.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <mat-error *ngIf="formState.isTouched && formState.errors._tracker?.required">
                    Tracker is required
                </mat-error>
                <mat-chip-listbox class="mb-3" [ngrxFormControlState]="$any(formState).controls.tracker">
                    <mat-chip-option *ngFor="let tracker of (trackers$ | async)">{{ tracker.name }}</mat-chip-option>
                </mat-chip-listbox>
                <mat-error *ngIf="formState.isTouched && formState.errors._subject?.required">
                    Subject is required
                </mat-error>
                <mat-form-field appearance="outline" [style.width.%]=100>
                    <mat-label>Subject</mat-label>
                    <input type="text" matInput placeholder="Subject of the item"  [ngrxFormControlState]="$any(formState).controls.subject">
                </mat-form-field>
                <mat-error *ngIf="formState.isTouched && formState.errors._description?.required">
                    Description is required
                </mat-error>
                <mat-form-field appearance="outline" [style.width.%]=100>
                    <mat-label>Description</mat-label>
                    <textarea type="text" matInput placeholder="Description" [ngrxFormControlState]="$any(formState).controls.description"></textarea>
                </mat-form-field>
                <mat-error *ngIf="formState.isTouched && formState.errors._user?.$validateUserError">
                    User not matched
                </mat-error>
                <mat-form-field appearance="outline" class="" [style.width.%]=100>
                    <mat-label>Redmine Users</mat-label>
                    <input type="text"  [ngrxFormControlState]="$any(formState).controls.user"
                        matInput
                        [matAutocomplete]="autoUser">
                    <mat-autocomplete #autoUser="matAutocomplete">
                        <mat-optgroup *ngFor="let group of usersFiltered$ | async" [label]="group.letter">
                            <mat-option *ngFor="let user of group.redmineUsers" [value]="user.name">
                                {{user.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="d-flex flex-md-row justify-content-md-between flex-column">
                    <mat-form-field appearance="outline" [style.width.%]=100 class="pe-md-2">
                        <mat-label>SD Issue#</mat-label>
                        <input type="text" 
                                matInput placeholder="SoftDev Issue" 
                                [ngrxFormControlState]="$any(formState).controls.issue"
                                [ngrxValueConverter]="trimUpper">
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.width.%]=100 class="px-md-2">
                        <mat-label>SD CR#</mat-label>
                        <input type="text" 
                            matInput 
                            placeholder="SoftDev Change Request" 
                            [ngrxFormControlState]="$any(formState).controls.cr"
                            [ngrxValueConverter]="trimUpper">
                    </mat-form-field>
                    <mat-form-field appearance="outline" [style.width.%]=100 class="ps-md-2">
                        <mat-label>iTMS</mat-label>
                        <input type="text" 
                            matInput 
                            placeholder="iTMS Task" 
                            [ngrxFormControlState]="$any(formState).controls.tms"
                            [ngrxValueConverter]="trimUpper">
                    </mat-form-field>
                </div>
                <div class="d-flex flex-md-row justify-content-md-between flex-column">
                    <mat-error [style.width.%]=100 class="pe-md-2" [style.visibility]="(formState.isTouched && formState.errors._issue?.$validateIssueError)?'visible':'hidden'">Invalid Issue</mat-error>
                    <mat-error [style.width.%]=100 class="px-md-2" [style.visibility]="(formState.isTouched && formState.errors._cr?.$validateCRError)?'visible':'hidden'">Invalid CR</mat-error>
                    <mat-error [style.width.%]=100 class="ps-md-2" [style.visibility]="(formState.isTouched && formState.errors._tms?.$validateTmsError)?'visible':'hidden'">Invalid TMS value</mat-error>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card-actions [align]="'end'" class="jkWidthMarg">
            <button mat-fab extended color="accent" class="me-4 my-2">Create and Open</button>
            <button mat-fab extended color="primary" class="me-3 my-2">Create</button>
        </mat-card-actions>
    </form>
</ng-container>