<ng-container *ngIf="formState$ | async as formState">
    <mat-card>
        <mat-card-content>
            <form novalidate [ngrxFormState]="formState">
                <div class="container-fluid">
                    <div class="row">
                        <mat-slide-toggle
                            [ngrxFormControlState]="$any(formState).controls.enabled">Enabled</mat-slide-toggle>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" [style.width.px]=220 class="mt-3">
                            <input  [ngrxFormControlState]="$any(formState).controls.interval"
                              type="number" class="form-control" matInput name="value"
                            placeholder="Interval in minutes">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button
                        mat-fab
                        extended
                        color="primary"
                        class="mt-0"
                        (click)="saveSettings()"

                    >Save</button>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>