<ng-container *ngIf="formState$ | async as formState">
    <mat-card>
        <mat-card-content>
            <form novalidate [ngrxFormState]="formState">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>Redmine Source Project</mat-label>
                                <input type="text"
                                    matInput
                                    [ngrxFormControlState]="$any(formState).controls.sourceRedmineProject"
                                    [matAutocomplete]="autoRedmineSourceProject"
                                >
                                <mat-autocomplete #autoRedmineSourceProject="matAutocomplete">
                                    <mat-option *ngFor="let project of (redmineSourceProjectsFiltered$ | async)"
                                        [value]="project.name"
                                    >
                                        {{project.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-error
                                [style.visibility]="(formState.isTouched && (formState.errors._sourceRedmineProject?.$validateRmSourceRedmineProjectError || formState.errors._sourceRedmineProject?.required))?'visible':'hidden'">
                                Redmine Project is required
                            </mat-error>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                                <mat-label>Redmine Target Project</mat-label>
                                <input type="text"
                                    matInput
                                    [ngrxFormControlState]="$any(formState).controls.targetRedmineProject"
                                    [matAutocomplete]="autoRedmineTargetProject"
                                >
                                <mat-autocomplete #autoRedmineTargetProject="matAutocomplete">
                                    <mat-option *ngFor="let project of (redmineTargetProjectsFiltered$ | async)"
                                        [value]="project.name"
                                    >
                                        {{project.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-error
                                [style.visibility]="(formState.isTouched && (formState.errors._targetRedmineProject?.$validateRmTargetRedmineProjectError || formState.errors._targetRedmineProject?.required))?'visible':'hidden'">
                                Redmine Project is required
                            </mat-error>
                        </div>
                        <div class="col-4">
                            <mat-checkbox  color="primary" 
                                [ngrxFormControlState]="$any(formState).controls.showCreated"
                            >Show Created</mat-checkbox>
                            <mat-checkbox color="primary"
                                [ngrxFormControlState]="$any(formState).controls.showClosed"
                            >Show Closed</mat-checkbox>
                            <button
                                mat-fab
                                extended
                                color="primary"
                                class="ms-3 my-2"
                                [disabled]="!(canActivateFind$ | async)"
                                (click)="search()"
                            >Find</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <mat-form-field appearance="outline" [style.width.%]=100>
                                <mat-label>Version</mat-label>
                                <mat-select [ngrxFormControlState]="$any(formState).controls.version">
                                    <mat-option *ngFor="let version of versions$ | async" [value]="version.name">
                                        {{version.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
    <div *ngIf="!(isGridFilled$ | async)">
        <br><br><br><br><br><br><br><br>
    </div>
</ng-container>