<mat-card>
    <mat-card-content>
        <form novalidate>
            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                <mat-label>Redmine Source Project</mat-label>
                <input type="text"  matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                <mat-label>Redmine Target Project2</mat-label>
                <input type="text"  matInput>
            </mat-form-field>
            <mat-checkbox>Show Created</mat-checkbox>
            <button
            mat-fab
            extended
            color="primary"
            class="me-3 my-2"
        >Find</button>
        </form>
    </mat-card-content>
</mat-card>