<ng-container *ngIf="formState$ | async as formState">
    <mat-card>
        <mat-card-content>
            <form novalidate [ngrxFormState]="formState">
                <div class="container-fluid">
                    <div class="row">
                        <mat-slide-toggle
                            [ngrxFormControlState]="$any(formState).controls.enabled">Enabled</mat-slide-toggle>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                            <mat-label>Tracker</mat-label>
                            <mat-select [ngrxFormControlState]="$any(formState).controls.tracker">

                                <mat-option *ngFor="let tracker of (trackers$ | async)"
                                    [value]="tracker.name">{{tracker.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="formState.errors._itemLevel?.required">
                            Item level is required
                        </mat-error>

                    </div>
                    <div class="row">
                        <button
                        mat-fab
                        extended
                        color="primary"
                        class="mt-0"
                        (click)="saveSettings()"

                    >Save</button>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>