<ng-container *ngIf="formState$ | async as formState">
    <mat-card>
        <mat-card-content>
            <form novalidate [ngrxFormState]="formState">
                <div class="container-fluid">
                    <div class="row">
                        <mat-slide-toggle
                            [ngrxFormControlState]="$any(formState).controls.enabled">Enabled</mat-slide-toggle>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="mt-2" [style.width.%]=100>
                            <mat-label>Tracker</mat-label>
                            <mat-select [ngrxFormControlState]="$any(formState).controls.tracker">

                                <mat-option *ngFor="let tracker of (trackers$ | async)"
                                    [value]="tracker.name">{{tracker.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="formState.errors._itemLevel?.required">
                            Tracker is required
                        </mat-error>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="mt-2" [style.width.%]=49>
                            <mat-label>Redmine Project</mat-label>
                            <input type="text"
                                [ngrxFormControlState]="$any(formState).controls.project"
                                matInput
                                [matAutocomplete]="autoProject">
                            <mat-autocomplete #autoProject="matAutocomplete">
                                <mat-option *ngFor="let project of (projectsFiltered$ | async)" [value]="project.name">
                                    {{project.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="" [style.width.%]=89>
                            <mat-label>User</mat-label>
                            <input type="text"  [ngrxFormControlState]="$any(formState).controls.user"
                                matInput
                                [matAutocomplete]="autoUser">
                            <mat-autocomplete #autoUser="matAutocomplete">
                                <mat-optgroup *ngFor="let group of usersFiltered$ | async" [label]="group.letter">
                                    <mat-option *ngFor="let user of group.redmineUsers" [value]="user.name">
                                        {{user.name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button
                        mat-fab
                        extended
                        color="primary"
                        class="mt-0"
                        (click)="saveSettings()"

                    >Save</button>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>